@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #ffc107;
}
a {
  text-decoration: none !important;
}

/*
------------------
    NAVIGATION BAR
------------------*/

.active {
  color: var(--primary-color);
  font-weight: 600;
}
.default {
  color: #403f3f;
  font-weight: 400;
}

.nav-brand {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #403f3f;
  transition: color 0.3s;
}
.nav-brand:hover {
  color: var(--primary-color);
}

.responsive-navbar-nav a {
  color: #403f3f;
}
.button {
  background: var(--primary-color);
  border-radius: 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #100f0f;
  padding: 5px 15px;
  transition: color 0.3s;
}
.button.login {
  padding: 10px 20px !important;
  font-size: 20px;
  font-weight: 700;
}
.button:hover {
  color: var(--primary-color);
  background: #100f0f;
}
.divider .line {
  width: 145px;
  height: 0px;
  border: 1px solid #95a0a7;
}

/*
------------------
    BANNER SECTION
------------------*/
.hero-section {
  width: 100%;
  height: calc(100vh - 66px);
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.7)
    ),
    url(./assets/chef.jpg);
  color: #ebdfd4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.hero-section h1 {
  font-size: 48px;
  width: 80%;
  background: linear-gradient(to right, var(--primary-color), #ebdfd4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-section p {
  width: 80%;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3em;
  letter-spacing: 2px;
  background: linear-gradient(to right, var(--primary-color), #ebdfd4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*
------------------
    CHEF CARD
------------------*/
.chef-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.chef-profile-picture {
  overflow: hidden;
}
.chef-profile-picture img {
  width: 220px;
  height: 250px;
  border-radius: 8px 8px 0px 0px;
  object-fit: cover;
  transition: transform 0.5s;
}
.chef-profile-picture img:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 568px) {
  .chef-card-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}

/*
------------------
    RECIPE CARD
------------------*/
.recipe-card {
  overflow: hidden;
  transition: transform 0.5s;
}
.recipe-card img:hover {
  transform: scale(1.2);
}

/*
------------------
    LOGIN FORM
------------------*/
.login-form {
  width: 100% !important;
}
@media screen and (min-width: 992px) {
  .login-form {
    width: 40% !important;
  }
}

.divider .text {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #95a0a7;
  padding: 0 26px 0 22px;
}

/*
------------------
    Chef Recipe page
------------------*/
.chef-recipe-img {
  max-width: 500px;
  max-width: 500px;
  object-fit: cover;
}
.chef-recipe-chef-info span {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.5s;
  font-weight: 600;
}
.chef-recipe-chef-info span:hover {
  background-color: #ffc107;
  text-align: #fff;
}
/*
------------------
    404 Page
------------------*/
.error-page {
  background-image: url(./assets/bg.png);
  width: 100%;
  height: calc(100vh - 66px);
}
.error-text {
  font-size: 60px;
}
/*
------------------
    FOOTER
------------------*/
footer {
  color: white;
  background-color: #000;
}

.social-media-icon svg {
  cursor: pointer;
  margin: 20px 0 20px 30px;
  transition: color 0.3s;
}
.social-media-icon svg:hover {
  color: var(--primary-color);
}
.social-media-icon svg:first-child {
  margin-left: 0px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.copyright-text {
  padding-bottom: 10px;
}
.footer-card-heading {
  font-weight: 700;
  font-size: 25px;
}
