@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #ffc107;
}
a {
  text-decoration: none !important;
}
button:disabled {
  color: rgb(115, 115, 115);
  background-color: #ebdfd4;
  user-select: none;
}
button:disabled:hover {
  color: rgb(115, 115, 115);
  background-color: #ebdfd4;
}
.button {
  background: var(--primary-color);
  border-radius: 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #100f0f;
  padding: 5px 15px;
  transition: color 0.3s;
}
.button.login {
  padding: 10px 20px !important;
  font-size: 20px;
  font-weight: 700;
}
.button:hover {
  color: var(--primary-color);
  background: #100f0f;
}

